#!name=huangdouduanjuVIP解锁
#!desc=VIP解锁 + 去广告 + 完整播放（浏览器直接观看）
#!author=Yu9191 Rewrite
#!homepage=https://github.com/Yu9191/Rewrite
#!date=2026-09-01

[rewrite_local]
^https?:\/\/cocoaview\.cc\/api\/(system\/info|user\/(info|home|vip|favorite)|drama\/(play|detail|navBlock|navFilter|searchResult|more|rank|topicDetail|topicList|favorite|love)|movie\/(navBlock|navFilter|detail|favorite|love|history)) url script-response-body https://raw.githubusercontent.com/Yu9191/Rewrite/refs/heads/main/huangdouduanju/dist/huangdou.js

[mitm]
hostname = cocoaview.cc, *.cocoaview.cc
