#!name=妻社 VIP解锁
#!desc=解锁VIP视频/帖子、去广告弹窗
#!author=Yu9191
#!homepage=https://github.com/Yu9191
#!date=2026-05-13

^https?:\/\/qsh\d+\.qsh\d+\.\w+\.cn\/(?:source\/plugin\/qsts_app\/index\.php|mserver)\/ url script-response-body https://raw.githubusercontent.com/Yu9191/Rewrite/refs/heads/main/qishe/qishe.js

hostname = qsh*.qsh*.org.cn
